<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Activities</title>
    <link th:rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css} "/>
</head>
<body>

	<nav class="navbar navbar-light bg-light">
  		<div class="container-fluid flex-row-reverse">
    		<a class="navbar-brand" href="/logout">LOGOUT</a>
  		</div>
	</nav>

    <h1>List of Activities</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Description</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="activity, iterStat : ${activities}">
                <td th:text="${iterStat.count}" />
                <td th:text="${activity.description}" />
                <td>
                    <button type="button" th:attr="data-bs-activity-id=${activity.id}, data-bs-activity-description=${activity.description}" class="btn btn-danger btn-sm" onclick="openDeleteActivityModal(event)">
                        <img src="/icons/trash-2.svg">
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Button trigger modal -->
    <button type="button" onclick="resetForm()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addActivityModal">
        Add new activity
    </button>

    <!-- Add new Activity Modal -->
    <div class="modal fade" id="addActivityModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addActivityModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addActivityModalLabel">Add new activity</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="activity-form" th:action="@{/activities}" th:object="${activity}" method="post">
                        <label th:for="description">Description</label>
                        <input th:field="*{description}" type="text" onfocus="resetBackground()" />

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" onclick="validateForm()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Activity Modal -->
    <div class="modal fade" id="deleteActivityModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteActivityModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteActivityModalLabel">Delete Activity</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this item?</p>
                    <form id="delete-activity-form" th:action="@{/activities/{id}(id='_id_')}" th:method="delete">
                        <p id="descriptionOutput"><p>
                        <input hidden="true" id="id" name="id" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="delete-activity-form" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/jQuery/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <script>
    
    	$('#addActivityModal').on('shown.bs.modal', function () {
    	  $('#description').trigger('focus')
    	})

        function validateForm() {
            var description = document.getElementById("description");
            if (description.value.trim() === '') {
                description.style.backgroundColor = "#FFCCCC";
                description.value = "";
            } else {
                document.getElementById("activity-form").submit();
            }
        }

        function resetForm() {
            document.getElementById("description").value = "";
            resetBackground();
        }

        function resetBackground() {
            var description = document.getElementById("description");
            description.style.backgroundColor = "white";
        }

        function openDeleteActivityModal(e) {

            var button = e.currentTarget;
            var deleteActivityModal = document.getElementById("deleteActivityModal");

            // Extract info from data-bs-* attributes
            var activityId = button.getAttribute("data-bs-activity-id");
            var activityDescription = button.getAttribute("data-bs-activity-description");

            // Update the modal's content.
            var idInput = deleteActivityModal.querySelector("#id");
            idInput.value = activityId;
            var descriptionOutput = deleteActivityModal.querySelector("#descriptionOutput");
            descriptionOutput.textContent = activityDescription;
            var action = deleteActivityModal.querySelector("#delete-activity-form");
            var actionAttribute = action.getAttribute("action").replace("_id_", activityId);
            action.setAttribute("action", actionAttribute);

            //show dialog
            $("#deleteActivityModal").modal("show");
        }

    </script>

</body>
</html>