<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Forgot Password</title>
<link th:rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css} " />

<style type="text/css">

	.container {
		position: absolute;
	    left: 50%;
	    top: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	    max-width: 400px;
    }
    
    .formButtons {
    	display: flex;
    	justify-content: space-between;
    }

</style>

</head>
<body>

	<div class="container">
	
		<p class="bg-success bg-opacity-25" th:if="${param.success}">If the account is present a reset password email will be sent</p>
		
		<form th:action="@{/password}" method="POST" >
			<div class="mb-3">
				<label for="email" class="form-label">Email address</label>
				<input autofocus id="email" name="email" type="email" class="form-control">
			</div>
	
			<div class="formButtons">		
				<button type="submit" class="btn btn-primary">Reset password</button>
				<a href="/login" class="btn btn-primary" role="button">Back to Login</a>
			</div>
			
		</form>
	</div>

	<script th:src="@{/jQuery/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>