<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registration</title>
<link th:rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css} " />

<style type="text/css">

	.container {
		position: absolute;
	    left: 50%;
	    top: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	    max-width: 400px;
    }
    
    .loginRegisterButtons {
    	display: flex;
    	justify-content: space-between;
    }
    
    .fieldError, .globalError {
    	background-color: rgba(220, 53, 69, 0.25);
    }

</style>

</head>
<body>

	<div class="container">
	
		<p class="bg-success bg-opacity-25" th:if="${param.success}">Registration completed. Please check your inbox for account activation.</p>
		
		<form th:action="@{/register}" th:object="${userCreationDTO}" method="POST" >
		
			<div th:if="${#fields.hasGlobalErrors()}" class="globalError" >
		  		<p th:each="err : ${#fields.globalErrors()}" th:text="${err}" />
			</div>
						
			<div class="mb-3">
				<label for="firstName" class="form-label">First name</label>
				<input autofocus th:field="*{firstName}" type="text" class="form-control" th:errorclass="fieldError">
			</div>
			<div class="mb-3">
				<label for="lastName" class="form-label">Last name</label>
				<input th:field="*{lastName}" type="text" class="form-control" th:errorclass="fieldError">
			</div>
			<div class="mb-3">
				<label for="email" class="form-label">Email address</label>
				<input th:field="*{email}" type="email" class="form-control" th:errorclass="fieldError">
			</div>
			<div class="mb-3">
				<label for="confirmEmail" class="form-label">Confirm email address</label>
				<input th:field="*{confirmEmail}" type="email" class="form-control" th:errorclass="fieldError">
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input th:field="*{password}" type="password" class="form-control" th:errorclass="fieldError">
			</div>
			<div class="mb-3">
				<label for="confirmPassword" class="form-label">Confirm password</label>
				<input th:field="*{confirmPassword}" type="password" class="form-control" th:errorclass="fieldError">
			</div>
	
			<div class="loginRegisterButtons">		
				<button type="submit" class="btn btn-primary">Register</button>
				<a href="/login" class="btn btn-primary" role="button">Back to Login</a>
			</div>
			
		</form>
	</div>


	<script th:src="@{/jQuery/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>